@import '~normalize.css';
@import "ranchers.css";
body{
 font-family: 'Ranchers', cursive;;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text
{
    display: block;
    text-align: center;
    width: 300px;
    height: 100px;
    border-bottom: 1px solid black;
}
.img
{
    width: 300px;
    height: 400px;
    background-image: url("../assets/download.png") ;
    background-repeat:no-repeat ;
}
